@use "common";

.homePage {
  font-family: "UTM BryantLG", sans-serif;
}

.banner {
  background: url("../../public/Hapo_Learn_banner_1.png") 50px 0px no-repeat;
  background-position: right;
  background-size: contain;
  width: 100%;
  padding-bottom: 45%;
  position: relative;
}

.banner-content {
  position: absolute;
  left: 59px;
  top: 23%;

  .banner-content--normal {
    color: #11114e;
    font-size: 50px;
    font-weight: 400;
  }
  .banner-content--bold {
    margin-top: -5px;
    font-family: "UTM BryantLG Bold", sans-serif;
    color: #11114e;
    font-size: 50px;
    font-weight: 700;
  }
  .banner-content--sub {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    white-space: pre-wrap;
  }

  .banner-content__button {
    font-size: 30px;
    font-weight: 700;
    padding: 10px 50px;
    margin-top: 20px;
    @include common.greenButton();
  }

  .hapowl {
    position: relative;
    width: 50px;
    margin: auto -8px;
  }
}

@media screen and (max-width: 992px) {
  .banner-content {
    .banner-content--normal {
      font-size: 30px;
    }
    .banner-content--bold {
      font-size: 30px;
    }
    .banner-content--sub {
      font-size: 16px;
    }

    .banner-content__button {
      font-size: 16px;
      padding: 10px 30px;
    }

    .hapowl {
      width: 40px;
    }
  }
}

.banner-back {
  background: linear-gradient(180deg, #fffbfb 87.5%, #e7e9ee 100%);
  width: 100%;
  height: 160px;
}

@media screen and (max-width: 768px) {
  .banner-content {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    .banner-content--normal {
      font-size: 25px;
    }
    .banner-content--bold {
      font-size: 25px;
    }
    .banner-content--sub {
      font-size: 16px;
    }

    .banner-content__button {
      font-size: 18px;
      padding: 10px 30px;
    }
    .hapowl {
      width: 30px;
    }
  }
  .banner-back {
    height: 310px;
    margin-bottom: 200px;
  }
}

.courseCard {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 90%;
  text-align: center;

  .card-content {
    @include common.flex-vertical-center();
  }

  .cardImg-container {
    background-color: blue;
    border-radius: 15px 15px 0 0;
    padding: 50px;
    @include common.flex-vertical-center();
  }

  .card-img {
    width: 50%;
    margin: auto;
    display: block;
  }
  .card-title {
    color: #b2d235;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-top: 20px;
  }
  .card-description {
    margin: 10px 20px 0;
  }
  button {
    margin: 20px 20px 40px;
    padding: 8px 30px;
    font-weight: 700;
    font-size: 18px;
    @include common.greenButton();
  }
}

.otherCourses {
  margin-top: 150px;
  @include common.flex-vertical-center();

  h1 {
    @include common.sectionTitle();
  }
  .greenBar {
    width: 480px;
    margin: 15px 0 45px;
    @include common.greenHrBar();
  }

  a {
    color: #90ab26;
    font-family: "UTM BryantLG Bold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .courseCard {
    display: flex;
    flex-direction: row;
    position: relative;

    .cardImg-container {
      padding: 50px 50px;
      background-color: blue;
      border-radius: 15px 0px 0 15px;
    }
    .card-content {
      align-items: flex-start;
    }
    .card-img {
      width: 145px;
    }
    .card-title {
      font-size: 20px;
      text-align: left;
      margin-left: 20px;
    }
    .card-description {
      font-size: 14px;
      text-align: left;
      margin-bottom: 50px;
    }
    button {
      padding: 8px 30px;
      font-weight: 700;
      font-size: 14px;
      margin: 0;
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }

  .otherCourses {
    h1 {
      font-size: 50px;
      line-height: normal;
    }
    .greenBar {
      width: 303px;
      margin: 0px 0 45px;
    }

    a {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 767px) {
  .courses-row {
    margin-top: -36%;
  }
  .otherCourses {
    h1 {
      font-size: 40px;
    }
    .greenBar {
      width: 245px;
      margin: 0px 0 30px;
    }

    a {
      font-size: 22px;
    }
    .view-all-arrow {
      width: 30px;
    }
  }
}

.whyHapo {
  background: url("../../public/images/background-1.png");
  min-height: 633px;
  margin-top: 84px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  .laptop {
    display: none;
    position: absolute;
    top: -150px;
    left: -100px;
    transform: rotate(17deg);
  }

  h1 {
    font-family: "UTM BryantLG Bold", sans-serif;
    margin-left: 120px;
    font-size: 70px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: -0.02em;
  }

  .whyHapo__reason {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-left: 150px;

    svg {
      position: relative;
      bottom: 3px;
      margin-right: 5px;
    }
  }

  img {
    max-width: 792px;
    min-width: 310px;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}

@media screen and (max-width: 991px) {
  .whyHapo {
    min-height: 385px;

    h1 {
      font-size: 50px;
      margin: 0 auto;
    }
    .whyHapo__reason {
      font-size: 16px;
      margin-left: 40px;
    }

    img {
      width: 40%;
      top: 50%;
      right: 10px;
      transform: translate(0, -30%);
    }
  }
}

@media screen and (max-width: 767px) {
  .whyHapo {
    min-height: 385px;
    padding-top: 40px;
    padding-bottom: 50%;

    .laptop {
      display: block;
    }

    h1 {
      text-align: left;
      font-size: 40px;
      white-space: pre-wrap;
      line-height: 40px;
      position: relative;
      left: 90px;
      margin-bottom: 20px;
    }
    .whyHapo__reason {
      font-size: 14px;
      margin-left: 40px;
    }

    img {
      width: 40%;
      top: unset;
      bottom: 0px;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
}

.feedBack {
  margin-top: 80px;
  @include common.flex-vertical-center();

  h1 {
    @include common.sectionTitle();
  }
  .greenBar {
    width: 328px;
    margin-bottom: 25px;
    @include common.greenHrBar();
  }
  .intro {
    color: #505353;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 991px) {
  .feedBack {
    h1 {
      font-size: 50px;
    }
    .greenBar {
      width: 208px;
      margin: -20px 0 25px;
    }
    .intro {
      font-size: 18px;
    }
  }
}

.membership {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background: url("../../public/images/background-2.png");
  justify-content: center;
  background-position: center;
  @include common.flex-vertical-center();

  h1 {
    color: #fff;
    text-align: center;
    font-family: "UTM BryantLG Bold", sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1.2px;
    white-space: pre-wrap;
  }

  button {
    margin-top: 14px;
    border: none;
    color: #90ab26;
    font-family: UTM BryantLG;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    width: 377px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
}

@media screen and (max-width: 991px) {
  .membership {
    height: 300px;
    background-size: contain;

    h1 {
      font-size: 35px;
    }

    button {
      font-size: 20px;
      width: 250px;
      height: 50px;
    }
  }
}

.statistic {
  min-height: 500px;
  @include common.flex-vertical-center();

  h1 {
    margin-top: 50px;
    @include common.sectionTitle();
  }
  .greenBar {
    width: 276px;
    margin-bottom: 35px;
    @include common.greenHrBar();
  }
  .statType {
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -3px;
  }
  .number {
    color: #b2d235;
    font-family: UTM BryantLG;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -3px;
  }
}

@media screen and (max-width: 991px) {
  .statistic {
    min-height: 300px;

    h1 {
      font-size: 50px;
      margin-top: 30px;
    }

    .greenBar {
      margin-top: -20px;
      margin-bottom: 18px;
      width: 174px;
    }

    .statType {
      font-size: 40px;
      font-style: normal;
    }

    .number {
      font-size: 40px;
    }
  }
}
