@use "common";

.reset-password-page {
  background-color: #f2f2f2;
  width: 100%;
  padding: 100px 0;
  font-family: UTM BryantLG Bold;
}

.reset-password-container {
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .reset-password-title {
    color: #b2d235;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }

  .reset-password-sub {
    color: #505353;
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-top: 10px;
    text-align: center;
  }

  .form-label {
    margin-top: 30px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.4px;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #fafafa;
    width: 462px;
    height: 60px;
  }

  .submit-btn {
    margin: 30px auto 0;
    padding: 10px 30px;
    display: block;
    @include common.greenButton;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.9px;
  }
}

@media screen and (max-width: 767px) {
  .reset-password-container {
    .form-control {
      width: 300px;
    }
  }
}

@media screen and (max-width: 575px) {
  .reset-password-container {
    .form-control {
      width: 250px;
    }
  }
}
