.page-control {
  .page-a {
    color: #b2d235;
    border: 1px solid #b2d235;
    border-radius: 3px;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }

  .page-a:focus {
    box-shadow: none;
    background-color: #fff;
    color: #b2d235;
  }

  .page-a:hover {
    color: #b2d235;
    background-color: white;
  }

  .active {
    .page-a {
      background-color: #b2d235;
      color: white;
      border: 1px solid #b2d235;
      width: 40px;
      height: 40px;
    }
  }

  .back > .page-a,
  .next > .page-a {
    width: 57px;
  }
}
