@font-face {
  font-family: "UTM BryantLG";
  src: local("UTM BryantLG"),
    url("../public/fonts/UTM_BryantLG.ttf") format("truetype");
}
@font-face {
  font-family: "UTM BryantLG Bold";
  src: local("UTM BryantLG Bold"),
    url("../public/fonts/UTMBryantLGBold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "~bootstrap/scss/bootstrap";

@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

*,
::before,
::after {
  box-sizing: border-box;
}
